<div class='row'>
  <div class='col-md-12'>
    <h3>通过 Ajax 向 Reddit 抓取文章</h3>

    <ol>
      <li>提供一个搜索框, 在搜索框中输入内容通过 Ajax 到 <%= reddit_link %> 中抓取内容</li>
      <li>搜索的结果需要提供下一页的链接, 并且通过 Ajax 进行翻页</li>
      <li>当搜索框中输入的是空白的时候, 抓取的是 <%= reddit_link %> 的默认页面</li>
    </ol>
  </div>
</div>