#logo {
  background-image: url('http://easya.cc/img/logo1.png');
  background-size: auto 40px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  height: 50px;
  width: 160px;
}

$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

@media (min-width: $screen-sm-min) {
  footer.footer {
    .pull-right {
      a {
        margin-right: 10px;
      }
    }

    .left {
      text-align: left;
    }

    .middle {
      text-align: center;
    }

    .right {
      text-align: right;
    }
  }
}

@import "welcome";
@import "reddit";
