// Place all the styles related to the reddit controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.msg {
  h3 {
    font-size: 1.1em;
  }

  .score {
    float: left;
    color: #c6c6c6;
    margin-right: 10px;
  }
}
