// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
  text-align: center;
}

.spliter {
  margin: 40px 0;
}

.feture {
  div:first-child {
    img {
      float: left;
    }
  }

  div:last-child {
    img {
      float: right;
    }
  }
}

.row-left {
  text-align: left;
}

.row-right {
  text-align: right;
}
